@page "/appointment"

<PageTitle>Appointment</PageTitle>

<div class="container-fluid">
    <h1 class="pageTitle">Upcoming Appointments</h1>

    <div class="container appts">
        <div hidden="@Hide1" class="row aptBox justify-content-md-center">
            <div class="col apptDetails" style="background-color:rgba(0, 119, 200, 0.12)">
                <h3 class="aptHeader">March 20, 2022 3:30PM - James Doe 403-123-4567</h3>
                <h5>Location: 123 4 Street SW</h5>
                <h5>Additional Details: Please meet in front of the house</h5>
            </div>
            <div class="col-sm-2 apptDetails " style="background-color:rgba(0, 119, 200, 0.12)">
                <button onclick="@Toggle1" type="button" class="btn btn-danger">Cancel</button>
            </div>
        </div>
        <div hidden="@Hide2" class="row aptBox justify-content-md-center">
            <div class="col apptDetails" style="background-color:rgba(0, 119, 200, 0.12)">
                <h3 class="aptHeader">March 24, 2022 2:00PM - Susan Doe 403-890-1239</h3>
                <h5>Location: 39 91 Street NE</h5>
                <h5>Additional Details: Please meet in front of the house and bring questions!</h5>
            </div>
            <div class="col-sm-2 apptDetails" style="background-color:rgba(0, 119, 200, 0.12)">
                <button onclick="@Toggle2" type="button" class="btn btn-danger">Cancel</button>
            </div>
        </div>
        <div hidden="@Hide3" class="row aptBox justify-content-md-center">
            <div class="col apptDetails" style="background-color:rgba(0, 119, 200, 0.12)">
                <h3 class="aptHeader">April 2, 2022 5:30PM - John Smith 403-223-3546</h3>
                <h5>Location: 291 Center Community Rd NW</h5>
                <h5>Additional Details: N/A</h5>
            </div>
            <div class="col-sm-2 apptDetails" style="background-color:rgba(0, 119, 200, 0.12)">
                <button onclick="@Toggle3" type="button" class="btn btn-danger">Cancel</button>
            </div>
        </div>
    </div>
</div>


@code {
    private bool Hide1 { get; set; } = false;
    private void Toggle1()
    {
        Hide1 = !Hide1;
    }

    private bool Hide2 { get; set; } = false;
    private void Toggle2()
    {
        Hide2 = !Hide2;
    }
    private bool Hide3 { get; set; } = false;
    private void Toggle3()
    {
        Hide3 = !Hide3;
    }
}