@page "/"
@page "/homepage"

<PageTitle>Homepage</PageTitle>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

<body class="work-body">

    <div class="headings-container">
        <div class="upper">
            <p class="heading">The best place to view</p>
            <div class="questions-container">
                <p class="bi bi-question-circle icon-heading"></p>
                <div>
                    <p class="help-heading">Need help?</p>
                    <a href="https://www.cirrealty.ca/cir-realtors/search" class="help-subheading">Ask a realtor</a>
                </div>
            </div>
        </div>
        <div class="flex-header">
            <p class="heading large">&</p>  <p class="heading other">buy real estate</p>
            <div class="questions-container space">
                <p class="bi bi-geo-alt-fill icon-heading"></p>
                <div>
                    <p class="help-heading">Visit a CIR office</p>
                    <a href="https://www.cirrealty.ca/MainOffice" class="help-subheading">Find one near you</a>
                </div>
            </div>

        </div>
    </div>


    <div class="home-main">

        <div class="icons-bar">
            <a href="#" class="icon">
                <img src="townhouse.png" alt="">
                <p>Town house</p>
            </a>
            <a href="#" class="icon">
                <img src="single.jpg" alt="">
                <p>Single home</p>
            </a>
            <a href="#" class="icon">
                <img src="apartment.png" alt="">
                <p>Apartment</p>
            </a>
            <a href="#" class="icon">
                <img src="land.png" alt="">
                <p>Land</p>
            </a>
            <a href="#" class="icon">
                <img src="bungalow.png" alt="">
                <p>Bungalow</p>
            </a>
            <a href="SearchResults" class="icon">
                <img src="duplex.png" alt="">
                <p>Duplex</p>
            </a>
        </div>
        <hr>
        <div class="heading center">Featured Properties</div>

        <div class="proerties-box">
            <div class="property">
                <div class="property-img-containter">
                    <img src="https://images.pexels.com/photos/186077/pexels-photo-186077.jpeg?cs=srgb&dl=pexels-binyamin-mellish-186077.jpg&fm=jpg" />
                </div>
                <div class="property-content">
                    <!-- <p class="project-title">ECommerce Website</p> -->
                    <p class="property-description body-text">
                        <ul class="house-details">
                            <li class="with-icon">
                                <p class="item-heading">Address:</p> <p>123 Earlgray Street SW</p>
                                                                @if (!change)
                                {
                                    <h3 @onclick="@((e) => { change = true; })" class="bi bi-heart heart"></h3>
                                }
                                else
                                { <h3 @onclick="@((e) => { change = false; })" class="bi bi-heart-fill heart heart-red"></h3>}
                            </li>
                            <li><p class="item-heading">Square foot:</p> <p>1650</p></li>
                            <li><p class="item-heading">Bedroom:</p> <p>3</p></li>
                            <li><p class="item-heading">Bathroom:</p> <p>2(full) + 1(half)</p></li>
                        </ul>
                    </p>
                    <div class="bottom">
                        <p class="price">$ 699,999</p>
                        <button class="compare-btn">Compare</button>
                    </div>
                </div>
            </div>

            <div class="property">
                <div class="property-img-containter">
                    <img src="https://images.pexels.com/photos/164558/pexels-photo-164558.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
                </div>
                <div class="property-content">
                    <p class="property-description body-text">
                        <ul class="house-details">
                            <li class="with-icon">
                                <p class="item-heading">Address:</p> <p>123 Smith St NW</p>
                                                                @if (!change1)
                                {
                                    <h3 @onclick="@((e) => { change1 = true; })" class="bi bi-heart heart"></h3>
                                }
                                else
                                { <h3 @onclick="@((e) => { change1 = false; })" class="bi bi-heart-fill heart heart-red"></h3>}
                            </li>
                            <li><p class="item-heading">Square foot:</p> <p>2500</p></li>
                            <li><p class="item-heading">Bedroom:</p> <p>4</p></li>
                            <li><p class="item-heading">Bathroom:</p> <p>3(full) + 1(half)</p></li>
                        </ul>
                    </p>
                    <div class="bottom">
                        <p class="price">$ 750,000</p>
                        <button class="compare-btn">Compare</button>
                    </div>
                </div>
            </div>

            <div class="property">
                <div class="property-img-containter">
                    <img src="https://images.pexels.com/photos/206172/pexels-photo-206172.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
                </div>
                <div class="property-content">
                    <!-- <p class="project-title">ECommerce Website</p> -->
                    <p class="property-description body-text">
                        <ul class="house-details">
                            <li class="with-icon">
                                <p class="item-heading">Address:</p> <p>123 Smith St NW</p>
                                                                @if (!change2)
                                {
                                    <h3 @onclick="@((e) => { change2 = true; })" class="bi bi-heart heart"></h3>
                                }
                                else
                                { <h3 @onclick="@((e) => { change2 = false; })" class="bi bi-heart-fill heart heart-red"></h3>}
                            </li>
                            <li><p class="item-heading">Square foot:</p> <p>2500</p></li>
                            <li><p class="item-heading">Bedroom:</p> <p>4</p></li>
                            <li><p class="item-heading">Bathroom:</p> <p>3(full) + 1(half)</p></li>
                        </ul>
                    </p>
                    <div class="bottom">
                        <p class="price">$ 750,000</p>
                        <button class="compare-btn">Compare</button>
                    </div>
                    <!-- <div class="project-footer">
                      <div class="item-heading tools">
                        <p>$ 750,000 </p>
                      </div>
                      <a
                        href="https://github.com/AHeizenberg"
                        target="_blank"
                        class="github-img-container"
                      >
                        <img src="/images/github.png" />
                      </a>
                    </div> -->
                </div>
            </div>

            <div class="property">
                <div class="property-img-containter">
                    <img src="https://images.pexels.com/photos/259751/pexels-photo-259751.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
                </div>
                <div class="property-content">
                    <p class="property-description body-text">
                        <ul class="house-details">
                            <li class="with-icon">
                                <p class="item-heading">Address:</p> <p>123 Smith St NW</p>
                                                               @if (!change3)
                                {
                                    <h3 @onclick="@((e) => { change3 = true; })" class="bi bi-heart heart"></h3>
                                }
                                else
                                { <h3 @onclick="@((e) => { change3 = false; })" class="bi bi-heart-fill heart heart-red"></h3>}
                            </li>
                            <li><p class="item-heading">Square foot:</p> <p>2500</p></li>
                            <li><p class="item-heading">Bedroom:</p> <p>4</p></li>
                            <li><p class="item-heading">Bathroom:</p> <p>3(full) + 1(half)</p></li>
                        </ul>
                    </p>
                    <div class="bottom">
                        <p class="price">$ 750,000</p>
                        <button class="compare-btn">Compare</button>
                    </div>
                </div>
            </div>

            <div class="property">
                <div class="property-img-containter">
                    <img src="https://images.pexels.com/photos/2121120/pexels-photo-2121120.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
                </div>
                <div class="property-content">
                    <p class="property-description body-text">
                        <ul class="house-details">
                            <li class="with-icon">
                                <p class="item-heading">Address:</p> <p>123 Smith St NW</p>
                                @if (!change4)
                                {
                                    <h3 @onclick="@((e) => { change4 = true; })" class="bi bi-heart heart"></h3>
                                }
                                else
                                { <h3 @onclick="@((e) => { change4 = false; })" class="bi bi-heart-fill heart heart-red"></h3>}
                            </li>
                            <li><p class="item-heading">Square foot:</p> <p>2500</p></li>
                            <li><p class="item-heading">Bedroom:</p> <p>4</p></li>
                            <li><p class="item-heading">Bathroom:</p> <p>3(full) + 1(half)</p></li>
                        </ul>
                    </p>
                    <div class="bottom">
                        <p class="price">$ 750,000</p>
                        <button class="compare-btn">Compare</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@code {

    private Boolean change { get; set; } = false;
    private Boolean change1 { get; set; } = false;
    private Boolean change2 { get; set; } = false;
    private Boolean change3 { get; set; } = false;
    private Boolean change4 { get; set; } = false;

    }