@page "/mortgage"

<PageTitle>Mortgage</PageTitle>

<h1>Mortgage Calculator</h1>

<div class="flex-container">

    <div class="flex-child left">
        <form method="post">
            <fieldset>
                <p>Please enter all the values below! Do not enter things such as '$', '%', 'months' or 'years'.</p>

                <div>
                    <p1>Property Price</p1>
                    <input type="text" id="pprice" placeholder="Dollar amount" @bind="@pprice" @oninput="@((e) => { pprice=(string)e.Value;})">
                    <br>
                </div>


                <div>
                    <p1>Down Payment</p1>
                    <input type="text" name="dpayment" placeholder="Dollar amount" @bind="@dpayment" @oninput="@((e) => { dpayment=(string)e.Value;})">
                    <br>
                </div>

                <p1>Annual Interest Rate</p1>
                <input type="text" name="irate" placeholder="Percentage" @bind="@irate" @oninput="@((e) => { irate=(string)e.Value;})">
                <br>

                <p1>Mortgage Term</p1>
                <input type="text" name="mterm" placeholder="Years" @bind="@mterm" @oninput="@((e) => { mterm=(string)e.Value;})">
                <br>

                <p1>Payment Interval</p1>
                <select id="pinterval" @bind="@pinterval" @oninput="@((e) => { pinterval=(string)e.Value;})">
                    <option value="52">Weekly</option>
                    <option value="26">Bi-weekly</option>
                    <option value="12">Monthly</option>
                </select>
                <br>

            </fieldset>
        </form>
    </div>

    <div class="flex-child right">
        <section class="form">
            <h1>Results</h1>

            <label>Payment per Interval:</label>
            <label2 role="status">@payint</label2><br>

            <label>Approximate total payments:</label>
            <label2 role="status">@countpay</label2><br>

            <label>Total interest payment:</label>
            <label2 role="status">@intpay</label2><br>

            <label>Total payment(including down payment):</label>
            <label2 role="status">@totalpay</label2><br><br><br>

            <button class="btn btn-primary" @onclick="cbutton_Click">Calculate</button>
        </section>
    </div>
</div>



@code {
    private string payint = "$XXXX.XX";
    private string countpay = "XXX";
    private string intpay = "XXXXX.XX";
    private string totalpay = "XXXXXX.XX";

    private static string pprice { get; set; } = " ";
    private static float pprice2 = 0;
    private static string dpayment { get; set; } = " ";
    private static float dpayment2 = 0;
    private static string irate { get; set; } = " ";
    private static float irate2 = 0;
    private static string mterm { get; set; } = " ";
    private static float mterm2 = 0;
    private static string pinterval { get; set; } = " ";
    private static float pinterval2 = 0;

    private static float mortprin = 0;
    private static float mirate = 0;
    private static float mmterm = 0;
    private static double monthtotal = 0;
    private static double tintpay = 0;
    private static double total = 0;

    private void cbutton_Click()
    {
        pprice2 = float.Parse(pprice);
        dpayment2 = float.Parse(dpayment);
        irate2 = float.Parse(irate);
        mterm2 = float.Parse(mterm);
        pinterval2 = float.Parse(pinterval);

        mortprin = pprice2 - dpayment2;
        mirate = irate2 / 100 / pinterval2;
        mmterm = mterm2 * pinterval2;

        monthtotal = (mortprin * (mirate * Math.Pow((1 + mirate), mmterm))) / (Math.Pow((1 + mirate), mmterm) - 1);
        tintpay = monthtotal * mmterm - mortprin;
        total = monthtotal * mmterm + dpayment2;

        payint = "$" + monthtotal.ToString("n2");
        countpay = mmterm.ToString("n2");
        intpay = "$" + tintpay.ToString("n2");
        totalpay = "$" + total.ToString("n2");
    }
}